.a{
    display:flex;
    margin:10%;
    padding:15%;
    padding-top:10%;
    padding-bottom:10%;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.12), 20px 20px 30px rgba(0,0,0,0.24);
    background-color: #F2F2F2;
}
.a1{
    margin:5%;
    width:40%;
}
*{
      box-sizing:border-box;
}
button{
     background-color:black ; 
    color: white; 
    border: 2px solid;
    padding-top:1%;
    padding-bottom:1%;
}
.b{
    text-align:center;
    margin:5%;
    margin:10%;
    padding:15%;
    padding-top:10%;
    padding-bottom:10%;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.12), 20px 20px 30px rgba(0,0,0,0.24);
    background-color: #F2F2F2;
}